<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>image</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>0</key>
			<dict>
				<key>lastModification</key>
				<real>589190298.65987694</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>1</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19235802</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237602</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237304</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237304</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4</key>
			<dict>
				<key>lastModification</key>
				<real>589106782.15469098</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>5</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237399</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>6</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237399</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>7</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237494</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>8</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237494</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>9</key>
			<dict>
				<key>lastModification</key>
				<real>589106779.19237602</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>image</key>
			<dict>
				<key>lastModification</key>
				<real>589190298.65988398</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>589106774.10157597</real>
	</dict>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>6</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
