<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.171803</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_1_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.171808</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_1_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17183399</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180395</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_2_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180896</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_2_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17182398</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_2_3.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17183495</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_3.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180502</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_4.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180502</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_4_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17182505</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_4_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.171826</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_5.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180598</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_5_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180097</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_5_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17182803</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_5_3.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17182899</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_5_4.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17183006</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_6.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180705</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_6_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17183101</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_6_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17183197</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_6_3.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17183304</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3_7.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.171808</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>589255967.17180204</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589255984.55867898</real>
				<key>lastModification</key>
				<real>589255984.55867898</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>589106774.10040402</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>3_5_1.md</string>
		</array>
		<array>
			<string>readme.md</string>
		</array>
		<array>
			<string>3_1.md</string>
		</array>
		<array>
			<string>3_2.md</string>
		</array>
		<array>
			<string>3_3.md</string>
		</array>
		<array>
			<string>3_4.md</string>
		</array>
		<array>
			<string>3_5.md</string>
		</array>
		<array>
			<string>3_6.md</string>
		</array>
		<array>
			<string>3_7.md</string>
		</array>
		<array>
			<string>3_1_1.md</string>
		</array>
		<array>
			<string>3_2_1.md</string>
		</array>
		<array>
			<string>3_2_2.md</string>
		</array>
		<array>
			<string>3_4_1.md</string>
		</array>
		<array>
			<string>3_4_2.md</string>
		</array>
		<array>
			<string>3_5_2.md</string>
		</array>
		<array>
			<string>3_5_3.md</string>
		</array>
		<array>
			<string>3_5_4.md</string>
		</array>
		<array>
			<string>3_6_1.md</string>
		</array>
		<array>
			<string>3_6_2.md</string>
		</array>
		<array>
			<string>3_6_3.md</string>
		</array>
		<array>
			<string>3_1_2.md</string>
		</array>
		<array>
			<string>3_2_3.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
